In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv")

In [3]:
data

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,20160401HHLG0,20160401,LG,HH,0,B,47,42,4,5,...,4,0,0,11,0,0,8,0.333333,12,4
1,20160401HHLG0,20160401,HH,LG,0,T,52,46,4,4,...,3,0,0,10,1,2,12,0.200000,15,3
2,20160401HTNC0,20160401,NC,HT,0,B,36,30,5,5,...,5,0,0,9,1,1,7,0.142857,7,1
3,20160401HTNC0,20160401,HT,NC,0,T,38,34,3,4,...,3,0,1,10,1,0,7,0.100000,10,1
4,20160401KTSK0,20160401,SK,KT,0,B,36,36,4,4,...,0,0,0,7,1,1,5,0.375000,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,20161008SSSK0,20161008,SS,SK,0,T,39,36,5,6,...,3,0,0,4,1,2,6,0.250000,8,2
1436,20161009KTNC0,20161009,NC,KT,0,B,41,39,3,4,...,1,0,1,13,0,0,10,0.111111,18,2
1437,20161009KTNC0,20161009,KT,NC,0,T,43,38,5,7,...,3,0,0,7,0,0,9,0.100000,10,1
1438,20161009WOLT0,20161009,LT,WO,0,B,38,36,8,8,...,1,0,1,4,2,0,6,0.416667,12,5
1439,20161009WOLT0,20161009,WO,LT,0,T,38,33,5,5,...,3,0,0,6,1,3,6,0.428571,7,3

In [4]:
G = 0
H = 0
for i in range(len(data['T_ID'])):
    if data['T_ID'][i] == 'HH':
        G += 1
        H += data['HIT'][i]
    if G == 113:
        break

print(H)

1154

In [5]:
def check_data(data, cols, team='HH'):
    col_vals = []
    for col in cols:
        col_val = 0
        G = 0
        for i in range(len(data['T_ID'])):
            if data['T_ID'][i] == team:
                G += 1
                col_val += data[col][i]
            if G == 113:
                col_vals.append(col_val)
                break
                
    return col_vals

In [6]:
cols = ['HIT', 'H2', 'H3', 'HR']

In [7]:
check_vals = check_data(data, cols)

In [8]:
check_vals

[1154, 192, 25, 112]