# 2016~2019 data preprocessing(113G)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df2016_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', engine = 'python')
df2016_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', engine = 'python')
df2017_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', engine = 'python')
df2017_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', engine = 'python')
df2018_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', engine = 'python')
df2018_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', engine = 'python')
df2019_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', engine = 'python')
df2019_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', engine = 'python')
# df2020_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv', engine = 'python')
# df2020_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv', engine = 'python')

In [3]:
# type(df["GDAY_DS"][0])

In [4]:
df2016_team_pit = df2016_team_pit.loc[df2016_team_pit["GDAY_DS"] < 20160826] #2016년도의 113경기만큼을 분리
df2016_team_bat = df2016_team_bat.loc[df2016_team_bat["GDAY_DS"] < 20160826]
df2017_team_pit = df2017_team_pit.loc[df2017_team_pit["GDAY_DS"] < 20170823] #2017년도의 113경기만큼을 분리
df2017_team_bat = df2017_team_bat.loc[df2017_team_bat["GDAY_DS"] < 20170823]
df2018_team_pit = df2018_team_pit.loc[df2018_team_pit["GDAY_DS"] < 20180817] #2018년도의 113경기만큼을 분리
df2018_team_bat = df2018_team_bat.loc[df2018_team_bat["GDAY_DS"] < 20180817]
df2019_team_pit = df2019_team_pit.loc[df2019_team_pit["GDAY_DS"] < 20190819] #2019년도의 113경기만큼을 분리
df2019_team_bat = df2019_team_bat.loc[df2019_team_bat["GDAY_DS"] < 20190819]
# df2020_team_pit = df2020_team_pit.loc[df2020_team_pit["GDAY_DS"] < 20200928] #2020년도의 113경기만큼을 분리
# df2020_team_bat = df2020_team_bat.loc[df2020_team_bat["GDAY_DS"] < 20200928]

## Generate yearID

In [5]:
def yearID(df, year):
    df['G_ID'] = year
    df.rename(columns={'G_ID':'yearID'}, inplace =True)

In [6]:
yearID(df2016_team_pit,2016)
yearID(df2016_team_bat,2016)
yearID(df2017_team_pit,2017)
yearID(df2017_team_bat,2017)
yearID(df2018_team_pit,2018)
yearID(df2018_team_bat,2018)
yearID(df2019_team_pit,2019)
yearID(df2019_team_bat,2019)
# yearID(df2020_team_pit,2020)
# yearID(df2020_team_bat,2020)

## Generate teamID

In [7]:
def teamID(df):
    df.rename(columns={'T_ID':'teamID'}, inplace =True)

In [8]:
teamID(df2016_team_pit)
teamID(df2016_team_bat)
teamID(df2017_team_pit)
teamID(df2017_team_bat)
teamID(df2018_team_pit)
teamID(df2018_team_bat)
teamID(df2019_team_pit)
teamID(df2019_team_bat)
# teamID(df2020_team_pit)
# teamID(df2020_team_bat)

## Generate franchID

In [9]:
# 팀투수 데이터 기준
def franchID(df):
    franchID = []
    for i in df['teamID']:
        if i == 'HH':
            franchID.append('DJ')
        elif i == 'HT':
            franchID.append('GJ')
        elif i == 'KT':
            franchID.append('SW')
        elif i == 'LG':
            franchID.append('SO')
        elif i == 'LT':
            franchID.append('BS')
        elif i == 'NC':
            franchID.append('MS')
        elif i == 'OB':
            franchID.append('SO')
        elif i == 'SK':
            franchID.append('IC')
        elif i == 'SS':
            franchID.append('DG')
        elif i == 'WO':
            franchID.append('SO')
    df['franchID'] = franchID

In [10]:
franchID(df2016_team_pit)
franchID(df2016_team_bat)
franchID(df2017_team_pit)
franchID(df2017_team_bat)
franchID(df2018_team_pit)
franchID(df2018_team_bat)
franchID(df2019_team_pit)
franchID(df2019_team_bat)
# franchID(df2020_team_pit)
# franchID(df2020_team_bat)

In [11]:
def rank(df,rank_list):
    rank = []
    for i in df['teamID']:
        if i == 'HH':
            rank.append(rank_list[0])
        elif i == 'HT':
            rank.append(rank_list[1])
        elif i == 'KT':
            rank.append(rank_list[2])
        elif i == 'LG':
            rank.append(rank_list[3])
        elif i == 'LT':
            rank.append(rank_list[4])
        elif i == 'NC':
             rank.append(rank_list[5])
        elif i == 'OB':
            rank.append(rank_list[6])
        elif i == 'SK':
            rank.append(rank_list[7])
        elif i == 'SS':
            rank.append(rank_list[8])
        elif i == 'WO':
            rank.append(rank_list[9])
    df['Rank'] = rank

## W,L,D 추가 및 연도별 데이터 전환

경기 결과에 따라 0,1,2(W,L,D)로 변환

In [12]:
def WLS(df):
    WLS = []
    for i in df['WLS']:
        if i == 'W':
            WLS.append(0)
        elif i == 'L':
            WLS.append(1)
        else:
            WLS.append(2)

    df['WLS'] = WLS

In [13]:
WLS(df2016_team_pit)
WLS(df2017_team_pit)
WLS(df2018_team_pit)
WLS(df2019_team_pit)
# WLS(df2020_team_bat)

In [14]:
def WLD(df):
    team=df['teamID'].values[:10]
    W=[]
    L=[]
    D=[]
    for i in team:
        w,l,d = 0,0,0
        for j in df[df["teamID"]==i]['WLS']:
            if j == 0:
                w += 1
            elif j == 1:
                l += 1
            else:
                d += 1
        W.append(w)
        L.append(l)
        D.append(d)
    return W,L,D

## G, Ghome 세기

In [15]:
def Gtotal(df):
    G = len(df['GDAY_DS'])/10
    return G

def Ghome(df):
    Ghome=[]
    team = df["teamID"].values[:10]
    for i in team:
        ghome =0
        for j in df[df['teamID']==i]['TB_SC']:
            if j == 'B':
                ghome += 1
        Ghome.append(ghome)
    return Ghome

## 연간 데이터 만들기

In [16]:
#[한화, 기아, KT, LG, 롯데, NC, 두산, SK, 삼성, 키움]
rank16 = [7,5,10,4,8,2,1,6,9,3]
rank17 = [8,1,10,6,3,4,2,5,9,7]
rank18 = [3,5,9,8,7,10,2,1,6,4]
rank19 = [9,7,6,4,10,5,1,3,8,2]
# rank20 = [10,5,6,3,7,1,4,9,8,2]

In [17]:
G16 = Gtotal(df2016_team_pit)
G17 = Gtotal(df2017_team_pit)
G18 = Gtotal(df2018_team_pit)
G19 = Gtotal(df2019_team_pit)
# G20 = Gtotal(df2020_team_pit)

In [18]:
Ghome16 = Ghome(df2016_team_pit)
Ghome17 = Ghome(df2017_team_pit)
Ghome18 = Ghome(df2018_team_pit)
Ghome19 = Ghome(df2019_team_pit)
# Ghome20 = Ghome(df2020_team_pit)

## WSWin : 한국시리즈 우승

In [19]:
def wswin(df, ws_list):
    wswin = []
    for i in df['teamID']:
        if i == 'HH':
            wswin.append(ws_list[0])
        elif i == 'HT':
            wswin.append(ws_list[1])
        elif i == 'KT':
            wswin.append(ws_list[2])
        elif i == 'LG':
            wswin.append(ws_list[3])
        elif i == 'LT':
            wswin.append(ws_list[4])
        elif i == 'NC':
            wswin.append(ws_list[5])
        elif i == 'OB':
            wswin.append(ws_list[6])
        elif i == 'SK':
            wswin.append(ws_list[7])
        elif i == 'SS':
            wswin.append(ws_list[8])
        elif i == 'WO':
            wswin.append(ws_list[9])
    df['WSWin'] = wswin

In [20]:
#[한화, 기아, KT, LG, 롯데, NC, 두산, SK, 삼성, 키움], 각 년도별 우승팀에게 1, 나머지 팀에게 0
ws_list_16 = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
ws_list_17 = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
ws_list_18 = [0, 0, 0, 0, 0, 0, 0, 1, 0, 0]
ws_list_19 = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
# ws_list_20 = [0, 0, 0, 0, 0, 0, 0, 0, 0]

## R : 득점

In [21]:
def run(df, df_):  # df에 타자 데이터 넣을 것
    #df_ means dataframe that we will return as outcome
    r_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in r_dict:
            r_dict[temp] = df['RUN'][i]
        else:
            r_dict[temp] += df['RUN'][i]
    df_['RUN'] = list(r_dict.values())
#     return list(r_dict.values())

In [22]:
# run(df2016_team_bat)

## 타석 수

In [23]:
# df2016_team_bat

In [24]:
def ab(df, df_):  # df에 타자 데이터 넣을 것
    AB_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in AB_dict:
            AB_dict[temp] = df['AB'][i]
        else:
            AB_dict[temp] += df['AB'][i]
    df_['AB'] = list(AB_dict.values())
#     return AB_dict

In [25]:
# ab(df2016_team_bat)

## 안타 수

In [26]:
def hit(df, df_):  # df에 타자 데이터 넣을 것
    HIT_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in HIT_dict:
            HIT_dict[temp] = df['HIT'][i]
        else:
            HIT_dict[temp] += df['HIT'][i]
    df_['HIT'] = list(HIT_dict.values())
#     return HIT_dict.valess

In [27]:
# hit(df2016_team_bat)

## 2루타

In [28]:
def h2(df, df_):  # df에 타자 데이터 넣을 것
    H2_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in H2_dict:
            H2_dict[temp] = df['H2'][i]
        else:
            H2_dict[temp] += df['H2'][i]
    df_['H2'] = list(H2_dict.values())
#     return H2_dict

In [29]:
# h2(df2016_team_bat)

## 3루타

In [30]:
def h3(df, df_):  # df에 타자 데이터 넣을 것
    H3_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in H3_dict:
            H3_dict[temp] = df['H3'][i]
        else:
            H3_dict[temp] += df['H3'][i]
    df_['H3'] = list(H3_dict.values())
#     return H3_dict

In [31]:
# h3(df2016_team_bat)

## 홈런

In [32]:
def hr(df, df_):  # df에 타자 데이터 넣을 것
    HR_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in HR_dict:
            HR_dict[temp] = df['HR'][i]
        else:
            HR_dict[temp] += df['HR'][i]
    df_['HR'] = list(HR_dict.values())
#     return HR_dict

In [33]:
# hr(df2016_team_bat)

## 사사구

In [34]:
def bb(df, df_):  #df에 투수 데이터 넣을 것
    BB_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in BB_dict:
            BB_dict[temp] = df['BB'][i]
        else:
            BB_dict[temp] += df['BB'][i]
    df_['BB'] = list(BB_dict.values())
#     return BB_dict

In [35]:
# bb(df2016_team_pit)

## 삼진

In [50]:
def kk(df, df_):  #df에 투수 데이터 넣을 것
    KK_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in KK_dict:
            KK_dict[temp] = df['KK'][i]
        else:
            KK_dict[temp] += df['KK'][i]
    df_['SO'] = list(KK_dict.values())
#     return KK_dict

## 도루

In [63]:
def sb(df, df_):  # df에 타자 데이터 넣을 것
    sb_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in sb_dict:
            sb_dict[temp] = df['SB'][i]
        else:
            sb_dict[temp] += df['SB'][i]
    df_['SB'] = list(sb_dict.values())
#     return list(sb_dict.values())

## 도루 실패

In [65]:
def cs(df, df_):  # df에 타자 데이터 넣을 것
    cs_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in cs_dict:
            cs_dict[temp] = df['CS'][i]
        else:
            cs_dict[temp] += df['CS'][i]
    df_['CS'] = list(cs_dict.values())

## 몸에 맞는 볼

In [67]:
def hbp(df, df_):
    hbp_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in hbp_dict:
            hbp_dict[tmp] = df['HP'][i]
        else:
            hbp_dict[tmp] += df['HP'][i]
    df_['HP'] = list(hbp_dict.values())

In [52]:
team = df2016_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df16 = pd.DataFrame(columns=columns)
df16['teamID']=team
franchID(df16)
rank(df16,rank16)
w,l,d = WLD(df2016_team_pit)
df16['W'] = w
df16['L'] = l
df16['D'] = d
df16['G'] = G16
df16['Ghome'] =Ghome16
df16['yearID']=2016
wswin(df16, ws_list_16)
run(df2016_team_bat, df16)
ab(df2016_team_bat, df16)
hit(df2016_team_bat, df16)
h2(df2016_team_bat, df16)
h3(df2016_team_bat, df16)
hr(df2016_team_bat, df16)
bb(df2016_team_pit, df16)
kk(df2016_team_pit, df16)

team = df2017_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df17 = pd.DataFrame(columns=columns)
df17['teamID']=team
franchID(df17)
rank(df17,rank17)
w,l,d = WLD(df2017_team_pit)
df17['W'] = w
df17['L'] = l
df17['D'] = d
df17['G'] = G17
df17['Ghome'] =Ghome17
df17['yearID']=2017
wswin(df17, ws_list_17)
run(df2017_team_bat, df17)
ab(df2017_team_bat, df17)
hit(df2017_team_bat, df17)
h2(df2017_team_bat, df17)
h3(df2017_team_bat, df17)
hr(df2017_team_bat, df17)
bb(df2017_team_pit, df17)
kk(df2017_team_pit, df17)

team = df2018_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df18 = pd.DataFrame(columns=columns)
df18['teamID']=team
franchID(df18)
rank(df18,rank18)
w,l,d = WLD(df2018_team_pit)
df18['W'] = w
df18['L'] = l
df18['D'] = d
df18['G'] = G18
df18['Ghome'] =Ghome18
df18['yearID']=2018
wswin(df18, ws_list_18)
run(df2018_team_bat, df18)
ab(df2018_team_bat, df18)
hit(df2018_team_bat, df18)
h2(df2018_team_bat, df18)
h3(df2018_team_bat, df18)
hr(df2018_team_bat, df18)
bb(df2018_team_pit, df18)
kk(df2018_team_pit, df18)

team = df2019_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df19 = pd.DataFrame(columns=columns)
df19['teamID']=team
franchID(df19)
rank(df19,rank19)
w,l,d = WLD(df2019_team_pit)
df19['W'] = w
df19['L'] = l
df19['D'] = d
df19['G'] = G19
df19['Ghome'] =Ghome19
df19['yearID']=2019
wswin(df19, ws_list_19)
run(df2019_team_bat, df19)
ab(df2019_team_bat, df19)
hit(df2019_team_bat, df19)
h2(df2019_team_bat, df19)
h3(df2019_team_bat, df19)
hr(df2019_team_bat, df19)
bb(df2019_team_pit, df19)
kk(df2019_team_pit, df19)

# team = df2020_team_pit["teamID"].values[:10]
# columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
# df20 = pd.DataFrame(columns=columns)
# df20['teamID']=team
# franchID(df20)
# rank(df20,rank20)
# w,l,d = WLD(df2020_team_pit)
# df20['W'] = w
# df20['L'] = l
# df20['D'] = d
# df20['G'] = G20
# df20['Ghome'] =Ghome20
# df20['yearID']=2020
# wswin(df20, ws_list_20)
# run(df2020_team_bat, df20)
# ab(df2020_team_bat, df20)
# hit(df2020_team_bat, df20)
# h2(df2020_team_bat, df20)
# h3(df2020_team_bat, df20)
# hr(df2020_team_bat, df20)
# bb(df2020_team_pit, df20)
# kk(df2020_team_pit, df20)

In [53]:
df16

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,RUN,AB,HIT,H2,H3,HR,BB,SO
0,2016,LG,SO,4,113.2,55,54,58,1,0,631,4001,1166,182,23,96,424,711
1,2016,HH,DJ,7,113.2,55,49,61,3,0,634,4008,1154,192,25,112,511,764
2,2016,NC,MS,2,113.2,51,64,42,2,0,679,3763,1099,183,16,139,391,850
3,2016,HT,GJ,5,113.2,56,56,58,1,0,675,4038,1173,214,23,139,460,733
4,2016,SK,IC,6,113.2,60,58,59,0,0,612,4070,1182,197,14,151,442,754
5,2016,KT,SW,10,113.2,57,42,67,2,0,524,3829,1043,158,6,91,439,748
6,2016,WO,SO,3,113.2,63,64,49,1,0,646,3940,1157,197,34,108,345,703
7,2016,LT,BS,8,113.2,55,51,62,0,0,607,3928,1114,206,17,97,455,818
8,2016,SS,DG,9,113.2,55,49,63,1,0,660,3978,1156,205,25,105,403,721
9,2016,OB,SO,1,113.2,59,73,41,1,1,750,4037,1203,215,22,142,401,783

In [54]:
df17

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,RUN,AB,HIT,H2,H3,HR,BB,SO
0,2017,OB,SO,2,113.6,58,65,46,2,0,672,4025,1194,223,18,138,364,749
1,2017,HH,DJ,8,113.6,54,47,64,1,0,577,3914,1138,202,13,118,362,707
2,2017,SS,DG,9,113.6,57,45,66,4,0,576,4025,1108,193,30,107,429,831
3,2017,HT,GJ,1,113.6,57,69,41,1,1,714,3978,1206,238,25,129,352,749
4,2017,SK,IC,5,113.6,61,58,58,1,0,615,3993,1074,182,11,193,402,768
5,2017,KT,SW,10,113.6,55,36,76,0,0,479,3792,1016,212,12,85,328,696
6,2017,WO,SO,7,113.6,63,60,55,1,0,637,4093,1203,219,21,109,312,783
7,2017,LG,SO,6,113.6,56,56,52,1,0,549,3732,1075,171,18,84,280,772
8,2017,NC,MS,4,113.6,53,65,49,1,0,593,3996,1142,227,19,100,378,850
9,2017,LT,BS,3,113.6,54,60,54,2,0,583,4038,1135,197,16,119,402,858

In [55]:
df18

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,RUN,AB,HIT,H2,H3,HR,BB,SO
0,2018,WO,SO,4,113.8,60,61,57,0,0,678,4236,1238,233,16,134,331,831
1,2018,HH,DJ,3,113.8,57,62,52,0,0,563,3919,1078,198,14,107,354,895
2,2018,HT,GJ,5,113.8,57,51,59,0,0,651,3848,1148,205,18,135,319,761
3,2018,KT,SW,9,113.8,57,47,64,2,0,578,3920,1074,208,12,162,314,808
4,2018,NC,MS,10,113.8,59,47,68,1,0,497,3937,1014,190,15,110,436,805
5,2018,LG,SO,8,113.8,56,56,59,1,0,663,4100,1226,245,10,126,366,843
6,2018,SK,IC,1,113.8,54,62,49,1,1,646,3868,1095,191,11,186,316,852
7,2018,LT,BS,7,113.8,57,51,57,2,0,625,3913,1133,223,14,150,430,892
8,2018,OB,SO,2,113.8,56,73,40,0,0,712,4039,1243,228,28,146,373,827
9,2018,SS,DG,6,113.8,56,54,59,3,0,613,4103,1181,199,22,108,346,884

In [56]:
df19

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,RUN,AB,HIT,H2,H3,HR,BB,SO
0,2019,OB,SO,1,113.8,58,68,46,0,1,508,3876,991,180,13,77,332,667
1,2019,HH,DJ,9,113.8,53,44,70,0,0,502,3831,1024,207,16,61,414,739
2,2019,SK,IC,3,113.8,55,74,40,1,0,518,3974,1100,150,15,77,356,894
3,2019,KT,SW,6,113.8,53,56,58,1,0,506,3867,1031,182,12,71,399,658
4,2019,HT,GJ,7,113.8,62,49,63,1,0,503,3892,1000,166,21,73,413,773
5,2019,LG,SO,4,113.8,56,61,51,1,0,547,3920,1091,201,19,102,392,746
6,2019,NC,MS,5,113.8,57,56,56,1,0,574,3851,1059,195,24,67,395,785
7,2019,SS,DG,8,113.8,55,46,64,1,0,546,3967,1052,183,13,93,407,732
8,2019,LT,BS,10,113.8,56,42,69,2,0,495,3782,990,182,22,99,447,811
9,2019,WO,SO,2,113.8,64,69,48,0,0,644,4045,1149,205,36,93,314,810

In [57]:
df = pd.concat([df16, df17, df18, df19])
# df = pd.concat([df16,df17,df18,df19,df20])
df = df.sort_values(by=['yearID', 'teamID'], ascending=True)
df.to_csv("preprocessing(2016-2019).csv", index= False, encoding='cp949')

In [59]:
df2016_team_bat

,yearID,GDAY_DS,teamID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,franchID
0,2016,20160401,LG,HH,0,B,47,42,4,5,...,0,0,11,0,0,8,0.333333,12,4,SO
1,2016,20160401,HH,LG,0,T,52,46,4,4,...,0,0,10,1,2,12,0.200000,15,3,DJ
2,2016,20160401,NC,HT,0,B,36,30,5,5,...,0,0,9,1,1,7,0.142857,7,1,MS
3,2016,20160401,HT,NC,0,T,38,34,3,4,...,0,1,10,1,0,7,0.100000,10,1,GJ
4,2016,20160401,SK,KT,0,B,36,36,4,4,...,0,0,7,1,1,5,0.375000,8,3,IC
5,2016,20160401,KT,SK,0,T,42,36,7,8,...,0,1,7,0,0,7,0.285714,7,2,SW
6,2016,20160401,WO,LT,0,B,36,30,1,1,...,0,0,6,0,1,8,0.000000,5,0,SO
7,2016,20160401,LT,WO,0,T,39,37,1,2,...,0,0,6,2,0,10,0.071429,14,1,BS
8,2016,20160401,SS,OB,0,B,35,32,1,1,...,0,1,6,2,1,7,0.250000,4,1,DG
9,2016,20160401,OB,SS,0,T,37,31,4,5,...,0,1,3,1,0,5,0.142857,7,1,SO
10,2016,20160402,LG,HH,0,B,49,40,8,8,...,0,1,9,0,1,11,0.300000,10,3,SO
11,2016,20160402,HH,LG,0,T,50,43,7,7,...,1,2,9,0,1,10,0.333333,15,5,DJ
12,2016,20160402,NC,HT,0,B,36,33,3,3,...,0,1,5,1,0,6,0.000000,4,0,MS
13,2016,20160402,HT,NC,0,T,39,33,4,4,...,0,0,8,0,0,8,0.428571,7,3,GJ
14,2016,20160402,SK,KT,0,B,44,37,4,4,...,2,1,6,1,1,12,0.111111,9,1,IC
15,2016,20160402,KT,SK,0,T,41,34,3,3,...,0,0,3,2,1,8,0.375000,8,3,SW
16,2016,20160402,WO,LT,0,B,35,30,5,5,...,0,1,6,1,0,6,0.375000,8,3,SO
17,2016,20160402,LT,WO,0,T,39,34,3,3,...,0,0,9,0,1,9,0.181818,11,2,BS
18,2016,20160402,SS,OB,0,B,41,36,10,10,...,0,1,7,1,0,7,0.454545,11,5,DG
19,2016,20160402,OB,SS,0,T,42,38,6,6,...,0,0,6,1,0,9,0.187500,16,3,SO
20,2016,20160403,SK,KT,0,B,38,32,4,4,...,0,2,4,0,0,7,0.125000,8,1,IC
21,2016,20160403,KT,SK,0,T,40,33,5,5,...,0,1,9,0,0,8,0.300000,10,3,SW
22,2016,20160403,WO,LT,0,B,42,34,6,6,...,1,0,7,0,1,11,0.357143,14,5,SO
23,2016,20160403,LT,WO,0,T,43,38,5,5,...,0,0,5,1,0,11,0.416667,12,5,BS
24,2016,20160405,HT,LG,0,B,31,28,4,4,...,0,0,10,2,0,3,0.250000,4,1,GJ
25,2016,20160405,LG,HT,0,T,35,34,1,1,...,0,0,9,0,1,7,0.200000,5,1,SO
26,2016,20160405,OB,NC,0,B,39,28,5,6,...,0,4,5,0,0,9,0.285714,7,2,SO
27,2016,20160405,NC,OB,0,T,37,31,2,2,...,0,1,9,1,0,8,0.285714,7,2,MS
28,2016,20160405,LT,SK,0,B,34,30,2,2,...,0,1,7,0,0,8,0.111111,9,1,BS
29,2016,20160405,SK,LT,0,T,35,30,1,1,...,0,2,12,0,1,7,0.142857,7,1,IC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,2016,20160821,LT,SK,0,B,38,27,3,4,...,1,1,3,1,0,10,0.166667,12,2,BS
1103,2016,20160821,SK,LT,0,T,38,34,3,3,...,0,1,8,0,2,8,0.166667,6,1,IC
1104,2016,20160821,WO,SS,0,B,30,28,2,2,...,0,0,7,1,0,4,0.125000,8,1,SO
1105,2016,20160821,SS,WO,0,T,31,29,0,0,...,0,1,12,1,0,4,0.000000,0,0,DG
1106,2016,20160823,NC,HT,0,B,41,34,12,12,...,0,0,7,0,2,5,0.416667,12,5,MS
1107,2016,20160823,HT,NC,0,T,37,33,1,1,...,0,0,8,0,0,9,0.000000,6,0,GJ
1108,2016,20160823,LT,KT,0,B,43,34,8,8,...,0,1,10,0,0,11,0.266667,15,4,BS
1109,2016,20160823,KT,LT,0,T,43,35,4,4,...,0,0,5,2,2,12,0.285714,14,4,SW
1110,2016,20160823,OB,LG,0,B,42,35,5,5,...,0,0,6,1,1,7,0.200000,10,2,SO
1111,2016,20160823,LG,OB,0,T,42,39,6,6,...,0,0,9,0,1,6,0.142857,7,1,SO
1112,2016,20160823,SS,SK,0,B,44,37,8,9,...,0,1,7,0,1,11,0.466667,15,7,DG
1113,2016,20160823,SK,SS,0,T,44,40,6,8,...,0,1,7,1,2,9,0.333333,12,4,IC
1114,2016,20160824,NC,HT,0,B,36,32,3,3,...,0,0,6,1,0,6,0.200000,5,1,MS
1115,2016,20160824,HT,NC,0,T,43,36,6,6,...,0,1,15,0,3,10,0.166667,6,1,GJ
1116,2016,20160824,LT,KT,0,B,38,31,0,2,...,0,2,12,1,1,9,0.000000,11,0,BS
1117,2016,20160824,KT,LT,0,T,39,37,5,5,...,0,0,4,3,0,7,0.333333,15,5,SW
1118,2016,20160824,OB,LG,0,B,44,39,16,18,...,0,0,5,0,2,2,0.666667,9,6,SO
1119,2016,20160824,LG,OB,0,T,42,37,4,6,...,0,0,8,2,2,9,0.214286,14,3,SO
1120,2016,20160824,SS,SK,0,B,37,35,3,3,...,0,0,5,1,0,7,0.333333,3,1,DG
1121,2016,20160824,SK,SS,0,T,35,35,4,4,...,0,0,5,0,0,4,0.000000,2,0,IC
1122,2016,20160824,HH,WO,0,B,37,33,5,6,...,0,0,6,3,1,4,0.285714,7,2,DJ
1123,2016,20160824,WO,HH,0,T,49,34,11,12,...,0,0,4,1,0,10,0.125000,8,1,SO
1124,2016,20160825,WO,LG,0,B,36,35,4,4,...,0,0,6,2,0,5,0.375000,8,3,SO
1125,2016,20160825,LG,WO,0,T,44,37,9,9,...,0,0,5,2,0,8,0.500000,10,5,SO
1126,2016,20160825,HH,NC,0,B,32,31,1,1,...,0,0,7,1,0,4,0.000000,2,0,DJ
1127,2016,20160825,NC,HH,0,T,44,40,13,13,...,0,0,9,1,0,4,0.538462,13,7,MS
1128,2016,20160825,KT,SK,0,B,30,29,0,0,...,0,0,8,2,1,3,0.000000,4,0,SW
1129,2016,20160825,SK,KT,0,T,33,32,1,1,...,0,0,10,1,0,5,0.250000,4,1,IC
1130,2016,20160825,HT,SS,0,B,35,30,6,6,...,0,0,5,0,0,5,0.333333,9,3,GJ
1131,2016,20160825,SS,HT,0,T,37,34,4,4,...,0,0,3,0,0,6,0.222222,9,2,DG