In [1]:
import pandas as pd

# Sorting

In [2]:
df_2019팀타자 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv')
df_2019팀타자 = df_2019팀타자.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2019팀타자.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', index = False, encoding = 'cp949')

df_2019팀투수 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv')
df_2019팀투수 = df_2019팀투수.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2019팀투수.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', index = False, encoding = 'cp949')

df_2018팀타자 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv')
df_2018팀타자 = df_2018팀타자.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2018팀타자.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', index = False, encoding = 'cp949')

df_2018팀투수 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv')
df_2018팀투수 = df_2018팀투수.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2018팀투수.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', index = False, encoding = 'cp949')

df_2017팀타자 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv')
df_2017팀타자 = df_2017팀타자.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2017팀타자.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', index = False, encoding = 'cp949')

df_2017팀투수 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv')
df_2017팀투수 = df_2017팀투수.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2017팀투수.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', index = False, encoding = 'cp949')

df_2016팀타자 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv')
df_2016팀타자 = df_2016팀타자.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2016팀타자.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', index = False, encoding = 'cp949')

df_2016팀투수 = pd.read_csv('1. OriginalDatasets/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv')
df_2016팀투수 = df_2016팀투수.sort_values(by=['T_ID', 'GDAY_DS', 'VS_T_ID'], ascending=True)
df_2016팀투수.to_csv('2. SortedDatasets/SORTED_2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', index = False, encoding = 'cp949')

In [3]:
df_2019팀타자

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,20190323HHOB0,20190323,HH,OB,0,T,42,34,4,4,...,5,0,1,7,2,1,11,0.200000,10,2
10,20190324HHOB0,20190324,HH,OB,0,T,43,37,10,11,...,5,0,0,11,1,0,5,0.500000,10,5
20,20190326HHHT0,20190326,HH,HT,0,T,46,38,13,13,...,6,0,1,7,3,2,6,0.538462,13,7
30,20190327HHHT0,20190327,HH,HT,0,T,40,35,4,4,...,5,0,0,7,1,0,9,0.100000,10,1
40,20190328HHHT0,20190328,HH,HT,0,T,33,30,4,4,...,2,0,0,10,0,0,2,0.500000,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1355,20190917WOHH0,20190917,WO,HH,0,T,31,30,0,0,...,0,0,1,12,0,1,4,0.000000,1,0
1377,20190920WOSK0,20190920,WO,SK,0,T,39,33,5,5,...,4,0,2,7,2,1,7,0.200000,10,2
1397,20190924WOHT0,20190924,WO,HT,0,T,35,34,0,0,...,1,0,0,8,2,0,8,0.142857,7,1
1431,20190929WOLT0,20190929,WO,LT,0,T,37,32,4,4,...,2,0,2,4,0,0,6,0.300000,10,3
1439,20191001WOLT0,20191001,WO,LT,0,T,38,35,2,3,...,3,0,0,9,1,0,8,0.300000,10,3

In [4]:
df_2019팀투수

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
1,20190323HHOB0,20190323,HH,OB,0,T,0,L,0,24,...,3,1,1,0,0,5,5,3.000000,1.375000,3.000000
11,20190324HHOB0,20190324,HH,OB,0,T,0,W,0,27,...,8,2,0,1,0,1,1,1.000000,0.166667,0.333333
21,20190326HHHT0,20190326,HH,HT,0,T,0,W,1,27,...,8,0,1,1,0,7,6,2.000000,0.857143,2.000000
31,20190327HHHT0,20190327,HH,HT,0,T,0,L,0,24,...,8,0,3,0,0,9,9,1.687500,5.500000,3.428571
41,20190328HHHT0,20190328,HH,HT,0,T,0,L,0,24,...,3,0,0,0,0,6,6,1.714286,2.437500,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1355,20190917WOHH0,20190917,WO,HH,0,T,0,L,0,24,...,9,0,0,0,0,1,1,1.000000,0.750000,1.285714
1377,20190920WOSK0,20190920,WO,SK,0,T,0,W,1,27,...,9,1,0,0,0,1,1,0.000000,1.153846,1.714286
1397,20190924WOHT0,20190924,WO,HT,0,T,0,L,0,24,...,4,0,0,0,0,5,5,1.000000,1.650000,1.875000
1431,20190929WOLT0,20190929,WO,LT,0,T,0,W,2,27,...,9,0,0,0,0,1,1,0.428571,0.750000,1.000000
1439,20191001WOLT0,20191001,WO,LT,0,T,0,W,5,27,...,8,0,0,0,0,1,1,0.600000,1.111111,1.500000

In [5]:
df_2018팀타자

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
1,20180324HHWO0,20180324,HH,WO,0,T,38,37,2,3,...,1,0,0,9,0,1,8,0.230769,13,3
11,20180325HHWO0,20180325,HH,WO,0,T,39,36,4,4,...,1,0,2,9,1,0,8,0.272727,11,3
21,20180327HHNC0,20180327,HH,NC,0,T,41,34,6,6,...,5,0,2,6,2,1,8,0.400000,5,2
31,20180328HHNC0,20180328,HH,NC,0,T,41,37,6,6,...,4,0,0,5,0,0,8,0.500000,8,4
41,20180329HHNC0,20180329,HH,NC,0,T,35,33,1,1,...,2,0,0,4,1,2,7,0.166667,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,20180929NCWO0,20180929,WO,NC,0,B,38,37,6,6,...,1,1,0,10,0,2,6,0.250000,8,2
1368,20180930NCWO0,20180930,WO,NC,0,B,34,32,8,8,...,2,0,0,10,0,0,2,0.600000,5,3
1399,20181006WONC0,20181006,WO,NC,0,T,41,35,5,5,...,4,0,1,11,1,0,9,0.230769,13,3
1427,20181012WOKT0,20181012,WO,KT,0,T,43,41,9,10,...,1,0,0,7,0,2,6,0.454545,11,5
1437,20181013WOSS0,20181013,WO,SS,0,T,38,35,5,5,...,3,0,0,6,1,0,6,0.400000,5,2

In [6]:
df_2018팀투수

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
1,20180324HHWO0,20180324,HH,WO,0,T,0,L,0,24,...,10,0,2,0,0,6,5,1.750000,3.000000,2.250000
11,20180325HHWO0,20180325,HH,WO,0,T,0,W,1,27,...,11,0,0,0,0,1,1,0.000000,0.692308,0.666667
21,20180327HHNC0,20180327,HH,NC,0,T,0,L,0,24,...,8,0,3,0,0,9,6,1.500000,3.000000,1.125000
31,20180328HHNC0,20180328,HH,NC,0,T,0,W,0,27,...,4,2,0,0,0,2,2,1.000000,0.857143,1.714286
41,20180329HHNC0,20180329,HH,NC,0,T,0,L,3,24,...,7,1,1,0,0,4,0,0.750000,1.304348,0.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,20180929NCWO0,20180929,WO,NC,0,B,0,W,0,27,...,6,0,0,0,0,5,4,2.500000,1.200000,1.000000
1368,20180930NCWO0,20180930,WO,NC,0,B,0,W,0,27,...,9,0,1,0,0,2,2,0.000000,0.666667,1.500000
1399,20181006WONC0,20181006,WO,NC,0,T,0,L,2,25,...,8,1,0,0,0,6,6,1.500000,1.080000,1.500000
1427,20181012WOKT0,20181012,WO,KT,0,T,0,W,2,27,...,6,2,2,0,0,5,5,2.142857,1.285714,1.500000
1437,20181013WOSS0,20181013,WO,SS,0,T,0,L,0,24,...,8,1,0,0,1,12,10,2.000000,15.000000,2.625000

In [7]:
df_2017팀타자

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
1,20170331HHOB0,20170331,HH,OB,0,T,33,29,0,0,...,3,0,0,8,0,4,6,0.000000,4,0
11,20170401HHOB0,20170401,HH,OB,0,T,54,44,6,6,...,6,1,0,8,0,1,15,0.150000,20,3
21,20170402HHOB0,20170402,HH,OB,0,T,54,44,4,4,...,7,0,3,9,0,2,14,0.181818,11,2
30,20170404NCHH0,20170404,HH,NC,0,B,37,31,6,6,...,2,0,2,5,2,1,7,0.250000,12,3
40,20170406NCHH0,20170406,HH,NC,0,B,37,34,2,2,...,1,0,2,7,2,1,8,0.142857,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1375,20170921WOKT0,20170921,WO,KT,0,T,41,36,5,5,...,2,0,1,4,2,0,9,0.250000,12,3
1389,20170923WOLT0,20170923,WO,LT,0,T,35,35,2,2,...,0,0,0,5,0,1,6,0.166667,6,1
1415,20170929WONC0,20170929,WO,NC,0,T,42,40,4,4,...,2,0,0,6,0,1,11,0.333333,9,3
1421,20170930WONC0,20170930,WO,NC,0,T,35,34,4,4,...,1,0,0,7,1,2,4,0.200000,5,1
1439,20171003WOSS0,20171003,WO,SS,0,T,45,41,8,9,...,4,0,0,12,1,2,9,0.307692,13,4

In [8]:
df_2017팀투수

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
1,20170331HHOB0,20170331,HH,OB,0,T,0,L,0,24,...,8,0,0,0,0,3,1,0.600000,0.450000,0.272727
11,20170401HHOB0,20170401,HH,OB,0,T,0,W,0,33,...,7,0,1,0,0,5,5,3.000000,1.363636,3.000000
21,20170402HHOB0,20170402,HH,OB,0,T,0,L,0,34,...,7,2,0,0,0,5,2,6.000000,1.038462,1.250000
30,20170404NCHH0,20170404,HH,NC,0,B,0,W,0,27,...,10,0,0,0,0,0,0,0.750000,1.000000,0.600000
40,20170406NCHH0,20170406,HH,NC,0,B,0,L,0,27,...,8,3,0,0,0,5,5,0.900000,1.928571,2.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1375,20170921WOKT0,20170921,WO,KT,0,T,0,W,0,27,...,7,0,1,0,0,3,3,0.000000,0.666667,0.600000
1389,20170923WOLT0,20170923,WO,LT,0,T,0,L,0,24,...,2,0,0,0,0,7,6,1.875000,2.666667,0.666667
1415,20170929WONC0,20170929,WO,NC,0,T,0,L,0,24,...,9,0,0,0,0,8,7,2.000000,3.000000,2.250000
1421,20170930WONC0,20170930,WO,NC,0,T,0,L,0,24,...,6,0,1,0,0,11,9,4.285714,3.500000,2.571429
1439,20171003WOSS0,20171003,WO,SS,0,T,0,L,0,24,...,5,0,0,0,0,10,6,2.571429,2.538462,2.000000

In [9]:
df_2016팀타자

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
1,20160401HHLG0,20160401,HH,LG,0,T,52,46,4,4,...,3,0,0,10,1,2,12,0.200000,15,3
11,20160402HHLG0,20160402,HH,LG,0,T,50,43,7,7,...,3,1,2,9,0,1,10,0.333333,15,5
32,20160405WOHH0,20160405,HH,WO,0,B,41,35,8,9,...,4,0,1,1,1,1,8,0.428571,14,6
40,20160406WOHH0,20160406,HH,WO,0,B,36,35,4,4,...,0,0,0,5,1,0,5,0.222222,9,2
50,20160407WOHH0,20160407,HH,WO,0,B,40,39,3,3,...,0,0,1,10,0,1,10,0.181818,11,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,20161002WOHH0,20161002,WO,HH,0,T,41,38,4,4,...,2,0,0,11,1,1,10,0.200000,10,2
1413,20161004WONC0,20161004,WO,NC,0,T,37,33,3,3,...,4,0,0,8,0,0,4,0.250000,4,1
1419,20161005WONC0,20161005,WO,NC,0,T,35,34,4,4,...,1,0,0,7,1,0,4,0.333333,3,1
1429,20161007WOLT0,20161007,WO,LT,0,T,38,32,4,4,...,2,0,3,10,0,0,7,0.000000,3,0
1439,20161009WOLT0,20161009,WO,LT,0,T,38,33,5,5,...,3,0,0,6,1,3,6,0.428571,7,3

In [10]:
df_2016팀투수

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
1,20160401HHLG0,20160401,HH,LG,0,T,0,L,0,34,...,11,0,1,0,0,5,4,1.500000,1.000000,0.750000
11,20160402HHLG0,20160402,HH,LG,0,T,0,L,0,30,...,9,0,2,0,1,8,8,4.000000,2.111111,3.000000
32,20160405WOHH0,20160405,HH,WO,0,B,0,W,0,27,...,11,1,3,0,1,5,3,2.400000,2.166667,1.200000
40,20160406WOHH0,20160406,HH,WO,0,B,0,L,0,27,...,12,0,2,0,1,6,6,2.571429,1.941176,0.900000
50,20160407WOHH0,20160407,HH,WO,0,B,0,L,0,27,...,4,1,1,0,0,7,7,3.750000,3.000000,1.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,20161002WOHH0,20161002,WO,HH,0,T,0,W,2,27,...,6,1,0,0,0,1,1,0.000000,0.782609,1.500000
1413,20161004WONC0,20161004,WO,NC,0,T,0,W,0,30,...,9,1,1,0,0,1,1,2.250000,1.100000,1.666667
1419,20161005WONC0,20161005,WO,NC,0,T,0,L,0,24,...,6,0,0,0,0,8,8,1.125000,4.500000,2.571429
1429,20161007WOLT0,20161007,WO,LT,0,T,0,L,0,24,...,10,0,0,0,0,5,5,0.666667,1.875000,2.142857
1439,20161009WOLT0,20161009,WO,LT,0,T,0,L,0,24,...,4,2,1,0,0,8,4,2.250000,1.666667,3.000000